/*Universal Selector*/
* {
    color: pink;
    background-color: cyan;
}

/*Element Selector*/
button{
    font-size: 12px;
}

/*ID Selector*/
#signup {
    color: black;
}

/*Class Selector*/
.class {
    background-color: white;
}

/*Descendant Selector*/
